*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-image: url('background1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    /* Rest of your body styles */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#ingredient_form {
    width: 900px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wrapper1{
    background-color: #82674a;
    width: 35.5%;
    position: relative;
    margin: auto;
    padding: 15px 10;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

hr{
    width: 75%;
    margin: 0 auto;
}


.container{
    position: relative;
    width: 100%;
    height: 25px;
    margin-top: 15px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #49331b;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #49331b;
    pointer-events: auto;
}
/*input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}*/
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #49331b;
}
.values{
    background-color: #49331b;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 15px 150px;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}

.background-box {
    position: fixed; /* Change to fixed if you want it to extend to the bottom regardless of other content */
    width: 600px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a48d6f;
    z-index: -1;
    bottom: 0; /* This should now extend to the bottom of the viewport */
}


myButton {
    position: relative;
    background: var(--clr);
    color: var(--clr);
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

myButton:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

myButton:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #49331b;
}

myButton span {
    position: relative;
    z-index: 1;
}

myButton i {
    position: absolute;
    inset: 0;
    display: block;
}

myButton i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #34210d;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s
}

myButton i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #34210d;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s
}
.resultsTitle {
    font-size: 24px;
    font-weight: bold;
}

#ingredientList {
}

#ingredientsForm {
    width: 250px;
    height: 19px;
    padding-left: 2px;
}