*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-image: url('background1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    /* Rest of your body styles */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 25px;
    margin-top: 15px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
    background-color: whitesmoke;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
    background-color:#a48d6f;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}

.values{
    width: 32%;
    position: relative;
    margin: auto;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #000000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}
.background-box {
    position: absolute;
    width: 600px; /* Set the width to match the logo width */
    top: 0; /* Assuming the logo is 180px high; adjust if needed */
    left: 50%; /* This will help to center the box */
    transform: translateX(-50%); /* This will perfectly center the box */
    background-color: #D5D7D8;
    z-index: -1; /* To ensure it's below all other content */
    /* If you want the box to run down to the bottom of the viewport */
    bottom: 0;
}
